<div class="modal fade" id="avatarModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="max-width:800px!important">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Select Avatar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row" id="userAvatar">

                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-1.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-2.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-3.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-4.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-5.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-6.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-7.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-8.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-9.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-10.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-11.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-12.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-13.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-14.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-15.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-16.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-17.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-18.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-19.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-20.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-21.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-22.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-23.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-24.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-25.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-26.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-27.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-28.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-29.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-30.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-31.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-32.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-33.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-34.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-35.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/avatar-36.png" style="width: 70px; margin:2px; " /></div>

                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/doctor.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatar" src="~/asset/avatar/waiter.png" style="width: 70px; margin:2px; " /></div>

                </div>
                <div class="row" id="channelAvatar" style="display:none;">

                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/001.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/002.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/003.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/004.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/005.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/006.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/007.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/008.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/009.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/010.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/011.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/012.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/013.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/014.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/015.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/016.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/017.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/018.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/019.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/020.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/021.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/022.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/023.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/024.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/025.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/026.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/027.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/028.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/029.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/030.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/031.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/032.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/033.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/034.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/035.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/036.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/037.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/038.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/039.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/040.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/041.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/042.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/043.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/044.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/045.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/046.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/047.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/048.png" style="width: 70px; margin:2px; " /></div>
                    <div class="col-2"><img class="rounded-circle img-avatar" name="avatarChannel" src="~/asset/avatar/049.png" style="width: 70px; margin:2px; " /></div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                
            </div>
        </div>
    </div>
</div>
